<link rel="stylesheet" type="text/css" href="css/stylesheet.css"></link>

<div id="title">Welcome to Tic Tac Toe!</div>

<div id="menu">
  <div class="button-link"><a href="single_player">Start New Single Player Game</a></div> <br />
  <div class="button-link"><a href="multiplayer_menu">Start New Multiplayer Game</a> </div>
</div>
