<link rel="stylesheet" type="text/css" href="css/stylesheet.css"></link>

<div id="title">Welcome to Tic Tac Toe!</div>

<div id="menu">
  <div class="button-link"><a href="single_player">Play Local Game</a></div>
  <div class="button-link"><a href="remote_create">Create New Remote Game</a> </div>
  <div class="button-link"><a href="remote_join">Join Remote Game</a> </div>
</div>
