<div id="title">Welcome to Tic Tac Toe!</div>

<div id="menu">
  <div class="button-link"><a href="local_game">Play Local Game</a></div>
  <div class="button-link"><a href="#">Create New Remote Game</a> </div>
  <div class="button-link"><a href="#">Join Remote Game</a> </div>
</div>
