
<div id="multiplayer_menu">
  <form action="/multiplayer_game" method="post">
    <label for="name">What is your name?</label>
    <input type="text" id="name" name="user_name" />

    <button type="submit">Submit</button>
  </form>
</div>
