<form action="remote_join" method="post">
  <label for="code">Secret code</label>
  <input id="secret_code" type="text" name="code" />
  <button type="submit">Submit</button>
</form>

<script type="text/javascript" src="javascripts/WSHandler.js"></script>
