<form action="remote_create" method="post">
  <label for="name">Name</label>
  <input type="text" name="name" id="name" />
  <button type="submit">Submit</button>
</form>

<script type="text/javascript" src="javascripts/WSHandler.js"></script>
