<%= erb :board %>

<br /> <br />

<div id="flash_message">
  <%= @flash_message %>
</div>

<script type="text/javascript">
  $(function() {
    gui = new BrowserGUI(new Service());
    gui.listenToButtons();
  });
</script>
